<div class="container">
  <h1>{{titulo}}</h1>
  <form>
    <div class="form-group">
      <label>Operando A</label>
      <input type="number" class="form-control" placeholder="Ingrese numero 1" [(ngModel)]="operandoA" name="operandoA"/>
      <label>Operando B</label>
      <input type="number" class="form-control" placeholder="Ingrese numero 2" [(ngModel)]="operandoB" name="operandoB"/>

    </div>
    <button type="submit" class="btn btn-primary" (click)="sumar()">Sumar</button>
  </form>
<p>Resultado es : {{resultado}}</p>

</div>
